.Change-Input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.Change-Input-Form {
    background-color: #5DADE2;
    padding: 1rem;
    border-radius: 20px;
}

.Input-Area-Change-Password {
    width: 300px;
    margin-bottom: 1rem;
}

.Input-Area-Change-Password input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    margin-top: 0.2rem;
    border-radius: 5px;
    border: none;
    border: solid 1px #221f1f;

}


.Change-Password-Button,
.Clear-Area-Button {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.2rem;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035); */
    font-size: 14px;
    cursor: pointer;
}

.Change-Password-Button {
    margin-top: 2.5rem;
}

.Back-Button {
    font-weight: 700;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    background-color: #faebd7;
    border: none;
    border-radius: 5px;
}
.Back-Button:hover {
    background-color: #ECE2D3;
}

.Main-Text-Change-Password {
    text-align: center;
    padding: 20px;
    margin-bottom: 0.5rem;
}

.Danger-Div {
    text-align: center;
    margin-left: 1rem;
    margin-top: 3px;
    font-size: 12px;
    padding: 3px;
    width: 130px;
    background-color: #f3d698;
    border-radius: 5px;
}