.App-Show-Products {
    text-align: center
}

.Product-Table-header{
    margin-top: 6rem;
    /* min-height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(2px + 2vmin); */
    font-size: 16px;
    color: white;
}

#Product-Table {
    border-collapse: collapse;
}

#Product-Table th {
    padding: 2%;
    background-color: #688B58;
}

#Product-Table tr {
    background-color: #496989;
}

#Product-Table tr:nth-child(even) {
    background-color: #4d7399;
}

#Product-Table tr:hover {
    background-color: #A8CD9F;
}

#Product-Table tr {
    border-bottom: 1px solid #ddd;
}

td {
    width: 15%;
    padding: 2% 3% 2% 3%; /* top, right, bottom, left*/
}





.No-Product-Error {
    border: #496989 solid;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 700;
    font-size: larger;
    background-color: #A3B6C8;
}

.No-Product-Error legend,  .No-Product-Error button {
    background: #6E89A3; 
    color: #FEFEFE;
    margin-top: 0.5rem;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    
}